
@{
    ViewBag.Title = "DecryptedOnly";
}
<div class="jumbotron" id="enc">
    <div class="encrypt-header">
        <h3>Оберіть файл для завантаження</h3>
    </div>
    <form id="myForm" action="/Home/DecryptedOnly" enctype="multipart/form-data" method="post">
        <div class="form-horizontal">
            <script type="text/javascript">
                    var arr2 = [".jpg", ".jpeg", ".bmp", ".png"];
            </script>
            <span class="tom" id="err">  </span><br />

                    <div class="file-upload" , id="file-upload2" title="Завантажте зображення з розширеннями '.png', '.jpg', '.bmp', '.jpeg'">
                        <script>
                                 $('#file-upload2').tooltip();
                        </script>
                        <label>
                            <input type="file" name="upload" id="upload" onchange="ValidateSingleInput(this, arr2); getFileName ('upload','file-name2');" required />
                            <span>Оберіть зображення</span>
                        </label>
                    </div>
                    <div class="file-name2" , id="file-name2"></div>
            <br />

            <script type="text/javascript">
                    function ValidateSingleInput(oInput, _validFileExtensions) {
                        if (oInput.type == "file") {
                            var sFileName = oInput.value;
                            if (sFileName.length > 0) {
                                var blnValid = false;
                                for (var j = 0; j < _validFileExtensions.length; j++) {
                                    var sCurExtension = _validFileExtensions[j];
                                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                                        blnValid = true;
                                        break;
                                    }
                                }
                                if (!blnValid) {
                                    err.classList.add("text-danger");
                                    err.innerHTML = "Невірне розширення файлу!";
                                    oInput.value = "";
                                    return false;

                                }
                                err.classList.remove("text-danger");
                                err.innerHTML = "";
                            }

                        }
                        return true;
                    }
            </script>

            <script type="text/javascript">

                    function getFileName(upload, filename) {

                        var file = document.getElementById(upload).value;

                        file = file.replace(/\\/g, '/').split('/').pop();

                        document.getElementById(filename).innerHTML = 'Назва файлу: ' + file;
                    }
            </script>


           
            <br />
            <p>
                <input type="submit" value="Розшифрувати" style="margin:auto" class="button13" />
            </p>
        </div>

    </form>
</div>

